.header nav ul {
	list-style:none;
	padding-left: 0;
}
 
.header nav ul li {
	float:right;
}
 
.header nav ul li a {
	color:#fff;
	padding:10px;
	display:block;
	text-decoration:none;
}
 
.header nav ul li span {
	margin-right:10px;
}
 
.header nav ul li a:hover {
	background:#494e53;
	color: white;
	text-decoration: none;
}
.header nav {
		width:20%;
		right:-100%;
		margin:0;
		margin-top: 1.4%;
		position: fixed;
    background: #343a40;
	}
 
	.header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
 
	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}
 
	.menu_bar .bt-menu {
		display:block;
		background:#343a40;
		color:#fff;
		text-decoration:none;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
	}
}

